// 覆盖一些饿了么的表单表格样式
// .el-button {
//   padding: 10px 20px;
// }
// .el-form-item__label,
// .el-form-item__content{
//   height: 36px;
//   line-height: 36px;
// }
// .el-form-item__content,
// .el-select-dropdown__item,
// .el-input,
// .el-table {
//   font-size: $font-es;
// }
// .el-input {
//   &__inner {
//     height: 36px;
//   }
// }

body{
  overflow-y: hidden !important
}

.el-table {
  th {
    background: #E5E9F2
    color: #475669
    font-weight: normal;
  }
  & td,
  & th.is-leaf {
    padding: 10px 0
  }
  .cell {
    padding-left: 15px;
    .el-button {
      padding: 0;
      font-size: $font-es;
      font-weight: normal;
    }
  }
  .caret-wrapper {
    height: 23px;
    .sort-caret {
      font-size: $font-es;
      &.ascending {
        top: 2px;
      }
      &.descending {
        bottom: 3px;
      }
    }
  }
}

// 重写饿了么面包屑组件样式
.el-breadcrumb {
  font-size: 13px;
  background-color: #fff;
  border-bottom: $border;
  line-height: 20px;
  padding: 15px 20px;
  box-shadow: 2px 0 0 0 rgba(197,204,210,0.41);
  &::after,
  &::before {
    display: table;
    content: "";
  }
  &::after {
    clear: both;
  }
  &__separator {
    margin: 0 9px;
    font-weight: 400;
    color: $gray-co;
    &[class*=icon] {
      margin: 0 6px;
      font-weight: 400;
    }
  }
  &__item{
    float: left;
    &:last-child .el-breadcrumb__inner,
    &:last-child .el-breadcrumb__inner a,
    &:last-child .el-breadcrumb__inner a:hover,
    &:last-child .el-breadcrumb__inner:hover {
      font-weight: 400;
      color: $gray-lighter;
      cursor: text;
    }
    &:last-child .el-breadcrumb__separator{
      display: none;
    }
  }
  &__inner,
  &__inner a {
    font-weight: 400;
    transition: color .2s cubic-bezier(.645,.045,.355,1);
    color: $gray-light;
  }
  &__inner a:hover,
  &__inner:hover {
    color: $color-default;
    cursor: pointer;
  }
}

.right-content-wrap {
  display flex;
  flex-direction: column;
  height: 100%;
  .el-breadcrumb + div {
    flex: 1;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  & > div:not(.el-breadcrumb) {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}