@font-face {
  font-family: 'iconfont';  /* project id 595662 */
  src: url('//at.alicdn.com/t/font_595662_6ncfwzrhhjymygb9.eot');
  src: url('//at.alicdn.com/t/font_595662_6ncfwzrhhjymygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_595662_6ncfwzrhhjymygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_595662_6ncfwzrhhjymygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_595662_6ncfwzrhhjymygb9.svg#iconfont') format('svg');
}

[class^="icon-cms"], [class*=" icon-cms"]{ 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-cms {
  &-search:before {
    content: "\e601"
  }
  &-text:before {
    content: "\e649"
  } 
  &-banner:before {
    content: "\e75e"
  }
  &-shop:before {
    content: "\e638"
  }
  &-type:before {
    content: "\e639"
  }
  &-splice:before {
    content: "\e600"
  }
  &-ad:before {
    content: "\e661"
  }
}